@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

body {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-size: 2vh;
	width: 100%;
	height: 100%;
	color: black;
	background-color: white;
	box-sizing: border-box;
}

li {
	color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:link,
a:hover,
a:visited,
a:active {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;
}